@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <h1>Hello Team Solvefy</h1>

    <p>I have created The given task without Authorization Beacuse it gives me An error While i was trying to implement it </p>
    <p>This Project Includes Crud opretions on Products and Also pic Upload Function on my crud</p>
    <p>If you want to Upload Image you have to Save it on WWWroot folder then access it. </p>
    <p>I made this project by my self with hardwork, and i m eager to join internship and start my internship</p>
    <p>Looking forward from you</p>
    <p>Thanks!</p>
</div>

